.table {
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid black;
  border-collapse: collapse;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}