 <h1>PS REVENUE PERFORMANCE</h1>
<section>
  <div class="button-row">
    <mat-button-toggle mat-raised-button color="primary">
      <a routerLink="q-one">Q1</a>
    </mat-button-toggle>
    <mat-button-toggle mat-raised-button color="primary">
      <a routerLink="q-two">Q2</a>
    </mat-button-toggle>
    <mat-button-toggle mat-raised-button color="primary">
      <a routerLink="q-three">Q3</a>
    </mat-button-toggle>
    <mat-button-toggle mat-raised-button color="primary">
      <a routerLink="q-four">Q4</a>
    </mat-button-toggle>
    <mat-button-toggle mat-raised-button color="primary">
      <a routerLink="yearlyy">Yearly</a>
    </mat-button-toggle>
  </div>
</section> -->

<router-outlet></router-outlet>